extends layout

block layout-content
  div.View
    h1.Banner System Integration Express - BPMS
    div.Message
      div.Title
        h3 Service Catalog
        span.Details Welcome to BPMS Service Catalog. 
    div.NavButtons
      a(href="/loginlanding")
          div.NavButton Let's Go
    div.DhlFooter
      h6 Copyright 2019 DHL