extends layout

block layout-content
  div.View
    h1.Banner DHL IT Services - Business Process Management System
    div.Message
      div.Title
        h3 Customer Self-Service
        h1 Customer On-Boarding
      span.Details You are in control !!!
    div.NavButtons
      a(href="/loginlanding")
          div.NavButton Let's Go