extends layout

block layout-content
    div.View5
        h1 System Information
        div.Message2
            table
                tr
                    td Server status
                    td #{status}